annotated-types==0.7.0
asgiref==3.11.0
cffi==2.0.0
cryptography==46.0.3
Django==6.0
django-ninja==1.5.1
django-ninja-aio-crud==2.2.0
joserfc==1.4.1
orjson==3.11.4
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
sqlparse==0.5.3
typing-inspection==0.4.2
typing_extensions==4.15.0
